#Window width/height (for debugging), by default (or if these are 0) the clock will be fullscreen
#init_window_width=1366
#init_window_height=768
#Tally mode, 0=disabled, 1=PiFace Digital, 2=TCP/IP connection, 3=TCP/IP connection with PiFace digital GPIs fed back over connection
tally_mode=2
#tally_remote_host specify host(s) to connect to
tally_remote_host=piclock-srv-1
tally_remote_host=piclock-srv-2
#Port to connect to on tally hosts (default 6254)
tally_remote_port=6254
#Shared secret (password) for access to TCP/IP system
tally_shared_secret=SharedSecretGoesHere
