Source: piclock
Priority: optional
Maintainer: Simon Hyde <simon@icedrop.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 libjpeg-dev, libboost-program-options-dev, libboost-system-dev,
 libssl-dev, libmagick++-dev, libb64-dev, freeglut3-dev, libglew-dev,
 libglfw3-dev, premake4:native, libhowardhinnant-date-dev, wiringpi
Standards-Version: 4.6.2
Homepage: https://www.github.com/simonhyde/piclock
#Vcs-Browser: https://salsa.debian.org/debian/piclock
Vcs-Git: https://www.github.com/simonhyde/piclock.git

Package: piclock
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wiringpi,
 xinit,
 x11-xserver-utils
Description: Broadcast Studio Clock, originally designed for Raspberry Pi
 Controllable/configurable simple broadcast studio clock, originally
 designed for the Raspberry Pi, but runs on any GL-enabled X environment
